body{
  background-color: #333333;
  
}
.WFI{
  position: relative;
  background-color: red;
  border: 2px #8a0000 solid;
  color: white;
  font-size: 70px;
}

.WP{
  position: relative;
  background-color: blue;
  border: 2px #000070 solid;
  color: white;
  font-size: 70px;
  top: 20px;
}

.XO{
  position: relative;
  background-color: red;
  border: 2px #8a0000 solid;
  color: white;
  font-size: 70px;
  top: 40px;
}

.ValVal{
  position: relative;
  background-color: blue;
  border: 2px #000070 solid;
  color: white;
  font-size: 70px;
  top: 60px;
}